h2{
    text-align: center;
}
 /* .about{
    border:0.1rem solid orangered;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 30%;
    width: 90%;
    margin: 50px auto;
}  */
